body {
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
}

header, main, aside, footer {
    padding: 2rem;
    background-color: #FFF;
    border-radius: 0.4rem;
    color: #000;
}

.first {
    flex-basis: 100%;
}

.second {
    flex: 8 1 40rem;
}

.third {
    flex: 2 1 20rem;
}