                                                       /*Level 1*/
body {
    background-color: #b7d7e8;
}

header * {
    display: inline;
    vertical-align: middle;
}

article {
display: table-cell;
width: 50%;
padding: 10px 15px;
background-color: #e5f0f7;
border: 10px solid #b7d7e8;
}

footer {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #dceaf4;
    border: 1px solid #bfcacb;
}

                                                      /*Level 2*/

body > header {
    border-radius: 3px;
    padding: 8px 10px;
    background-color: #dceaf4;
    border: 1px solid #bfcacb;
}

footer p {
    margin: 5px;
}

                                                      /*Level 3*/

nav ul {
margin: 0px;
padding: 10px;
}

                                                      /*Level 4*/

nav li {
    margin: 10px;
}

section h2 {
    margin: 15px 10px;
}

                                                      /*Level 5*/
nav li a {
text-decoration: none;
}