body {
    font-family: Helvetica, sans-serif;
}

header {
    border-bottom: 2px solid grey;
}

h1 {
    width: 49%;
    display: inline-block;
}

nav {
    display: inline-block;
    width: 49%;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}